/06Kadai.pdf
/07Kadai.pdf
/08Kadai.pdf
/09Kadai.pdf
/data.csv
/Figure.class
/Figure_1.class
/Figure_2.class
/Kadai07_3.class
/Kadai07_4.class
/Kadai08_3.class
/Kadai08_4.class
/Kadai08_4_sample.class
/Kadai09_1_main.txt
/Kadai09_2_main.txt
/Kadai09_3.class
/Kadai09_3_sample.class
/Kadai09_3_sample.txt
/Kadai09_4_sample.txt
/Score.class
/Score_1.class
/Score_2.class